<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${current_wrapper.getFullName()}"> user name </title>
        </head>
<body>
    <h3> Welcome <span th:text="${current_wrapper.getFullName()}"> </span> </h3>


    <p> Create post: </p>
    <div th:insert="~{fragments/post_form.html :: post_form}"></div>

    <div th:if="${user_posts}">
        <p> My posts: </p>
        <hr>
        <div th:each="post : ${user_posts}">
            <p th:text="${post.postText}"></p> <br>
            <p th:text="${post.postDate}"> </p>
            <hr>
        </div>
    </div>

    <a th:href="@{/logout}" > Log out </a>
</body>
</html>