<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>  user name</title>
        </head>
<body>



    <p> Create post: </p>
    <div th:insert="~{fragments/post_form.html :: post_form}"></div>

    <br>

    <p> My posts: </p>
    <div th:each="post : ${session.posts_wrapper.getUsersPosts()}" >
        <p th:text="${post.getPostText()}"> </p>
        <p th:text="${post.getPostDate()}"> </p>
        <hr>
    </div>

    <a th:href="@{/logout}" > Log out </a>
</body>
</html>