<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${given_wrapper.getFullName()}"> Hello user name </title>
</head>
<body>
    <h3> Welcome <span th:text="${given_wrapper.getFullName()}"> </span> </h3>

    <div th:if="${user_posts}">
        <p th:text="My posts"> </p>
        <div th:each="post : ${user_posts}">
            <p th:text="${post.postText}"></p> <br>
            <p th:text="${post.postDate}"> </p>
        </div>
    </div>

    <a th:href="@{/logout}" > Log out </a>
</body>
</html>