<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection, HtmlFormInputWithoutLabel -->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{registration.title}"> Sign Up </title>
</head>
<body>
    <h3 th:text="#{registration.welcome}"> Please, sign up </h3>

    <div>
        <!-- Start of registration form -->
        <form th:action="@{/registration}" th:object="${registration}" method="post">

            <input type="text" placeholder="Your email" th:field="*{email}" id="account_email" />
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" ></p>

            <input type="text" placeholder="Your password" th:field="*{password}" id="account_password" />
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" ></p>

            <input type="text" placeholder="Your first name" th:field="*{fName}" id="user_fname" />
            <p th:if="${#fields.hasErrors('fName')}" th:errors="*{fName}" ></p>

            <input type="text" placeholder="Your last name" th:field="*{lName}" id="user_lname" />
            <p th:if="${#fields.hasErrors('lName')}" th:errors="*{lName}" ></p>

            <input type="text" placeholder="Your birthday"  id="user_birthday"
                   th:field="*{{birthDay}}" th:placeholder="#{registration.form.user-birthday} "/>
            <p th:if="${#fields.hasErrors('birthDay')}" th:errors="*{birthDay}" ></p>

            <label> male: <input type="radio" name="sex" value="m" th:field="*{{sex}}"/> </label>
            <label> female: <input type="radio" name="sex" value="f" th:field="*{{sex}}" /> </label>
            <p th:if="${#fields.hasErrors('sex')}" th:errors="*{sex}" ></p>

            <input type="submit" value="Go" >
        </form>
        <!-- End of registration form -->



        <p th:text="#{registration.link.login.msg}"> Already registered? </p>
        <a th:href="@{/login.html}" th:text="#{registration.link.login}"> Sign In </a>

    </div>

</body>
</html>