<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection, HtmlFormInputWithoutLabel -->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{registration.title}"> Sign Up </title>
</head>
<body>
    <h3 th:text="#{registration.welcome}"> Please, sign up </h3>

    <div>
        <!-- Registration form start -->
        <form th:action="@{/registration}" th:object="${registration}" method="post">

            <input type="text" placeholder="Your email" th:field="*{email}" id="account_email" />
            <input type="text" placeholder="Your password" th:field="*{password}" id="account_password" />
            <input type="text" placeholder="Your first name" th:field="*{fName}" id="user_fname" />
            <input type="text" placeholder="Your last name" th:field="*{lName}" id="user_lname" />
            <input type="text" placeholder="Your birthday"  id="user_birthday"
                   th:field="*{{birthDay}}" th:placeholder="#{registration.form.user-birthday} "/>
            <input type="text" placeholder="Your sex" th:field="*{sex}" id="user_sex" />

            <input type="submit" value="Go" >
        </form>
        <!-- End of registration form -->



        <p th:text="#{registration.link.login.msg}"> Already registered? </p>
        <a th:href="@{/login.html}" th:text="#{registration.link.login}"> Sign In </a>

    </div>

</body>
</html>